@import "tailwindcss";
html {
  overflow-y: scroll;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  /* --primary: #ab1602;
  --accent: #f1592f; */
  --primary: #f1592f;
  --accent: #ab1602;
}

@theme inline {
  --color-*: initial;
  --color-white: white;
  --color-black: black;
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-farsi: var(--font-iranian-sans);
  --font-title: var(--font-bold);
  --font-sans: var(--font-sans);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-iranian-sans), var(--font-sans), Arial, Helvetica, sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}